.songCard-body {
    /*width: 95%;*/
    /*height: 60%;*/
    background-color: #323333;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }